{% macro display(category) %}
<div class="card">
    <div class="card-body bg-secondary text-white">
        {%if category%}
        {% for pitch in category %}
        <h3 class="card-title">{{pitch.pitch_title}}</h3>
        <h4 class="card-subtitle mb-2 text-muted">Posted by {{pitch.user.username}}</h4>
        <h4 class="card-subtitle mb-2 text-muted">Category: {{pitch.category}}</h4>
        <h4 class="card-text">{{pitch.pitch}}</h4>
        <p><a href="/comment/{{pitch.id}}" class="card-link">Add a Comment</a></p>
        <p><a href="/view_comments/{{pitch.id}}" class="card-link">View comments</a></p>
        {% endfor %}
        {%else%}
        <p>No pitches</p>
        {% endif %}
    </div>
</div>
{% endmacro %}