{% macro display(category) %}
<div class="row">
    <div class="card col-md-4">
        {%if category%}
        {% for pitch in category %}
        <div class="card-body bg-secondary text-white">
            <h3 class="card-title">{{pitch.pitch_title}}</h3>
            <h4 class="card-subtitle mb-2 text-muted">Posted by {{pitch.user.username}}</h4>
            <h4 class="card-subtitle mb-2 text-muted">Category: {{pitch.category}}</h4>
            <h4 class="card-text">{{pitch.pitch}}</h4>
            <p><a href="/comment/{{pitch.id}}" class="card-link">Add a Comment</a></p>
            <p><a href="/view_comments/{{pitch.id}}" class="card-link">View comments</a></p>
        </div>
        <div class="card-footer foot_flex d-block mx-auto">
            <a href="#"><button class="btn btn-success">Likes </button></a>
            <a href="#"><button class="btn btn-danger">Dislikes</button></a>
            <h4></h4>
        </div>
        {% endfor %}
        {%else%}
        <p>No pitches</p>
        {% endif %}
    </div>
</div>
{% endmacro %}